<footer>
    <div class="flexbox">
        <p style="margin-top:5px;" class="white">
            &copy; <script async defer>new Date().getFullYear()>2010&&document.write(""+new Date().getFullYear());</script>, AK Features
        
        
        </p>
        <a href="https://www.facebook.com/CommonVibesSeries/" target="_blank">
            <img src="../assets/images/fb-icon.png" style="height:30px;padding-left:10px;padding-top:10px;">
        </a>
        <span class="flex-grow"></span>
        <a href="#navbar">
            <img src="../assets/images/uptotopicon.png" style="height:30px;padding-left:10px;padding-top:10px; filter: invert(100%) sepia(3%) saturate(7497%) hue-rotate(329deg) brightness(106%) contrast(116%);">
        </a>
    </div>
    
</footer>