<nav id="navbar">
    <a href="/">
        <!-- <img src="../assets/images/logo.png" alt="Common Vibes Logo" class="nav-logo"/> -->
        <h1 class="temp-logo"><span class="pink">Common</span><span class="yellow">Vibes</span></h1>
    </a>
    <ul>
        {% for item in site.data.navigation %}
            <li>
                <a class="nav-btn {% if page.url contains item.link and item.name !='Home' %}active-nav{% endif %}" href="{{ item.link }}" >
                  {{ item.name }}
                </a> 
            </li>
        {% endfor %}
    </ul>
</nav>