<nav>
    <a href="/">
        <!-- <img src="../assets/images/logo.png" alt="Common Vibes Logo" class="nav-logo"/> -->
        <h1 class="temp-logo"><span class="pink">Common</span><span class="yellow">Vibes</span></h1>
    </a>
    <ul>
        {% for item in site.data.navigation %}
            <li>
                <a class="nav-btn {% if page.url contains item.link and item.name !='Home' %}active-nav{% endif %}" href="{{ item.link }}" >
                  {{ item.name }}
                </a> 
            </li>
        {% endfor %}
        <li>
            <a href="https://www.facebook.com/CommonVibesSeries/?__tn__=%2Cd%2CP-R&eid=ARAeWR_7QwpTP8rW-fIMP717CqjKL6SJzcm7XaR320HLwCil2ja89RpXRhCUSKfs2yYsAeeH9hVtgtKC" target="_blank">
                <img src="../assets/images/fb-icon.png" style="height:30px;padding-left:10px">
            </a>
        </li>
    </ul>
</nav>