/*
    Colors!
    Blue: #5581FF
    Light Blue: #D5F9FF
    Pink: #FF529F
    Purple: #e033ff
    Light Purple: #F5BFFF
    Red: #ff4545
*/

.blue{
    color: #5581FF;
}

.lightblue{
    color: #D5F9FF;
}

.pink{
    color:#FF529F;
}

.purple{
    color: #e033ff;
}

.red{
    color: #ff4545;
}

.white{
    color:#fff;
}

.yellow{
    color:#FFFB86
}

.bg-blue{
    background-color: #5581FF;
}

.lb-blue{
    border-left: 2px solid #5581FF;
}

.bg-lightblue{
    background-color:#D5F9FF;
}

.bg-pink{
    background-color:#FF529F;
}

.bg-purple{
    background-color: #e033ff;
}

.bg-red{
    background-color: #ff4545;
}

.bg-yellow{
    background-color:#FFFB86
}

.border-red{
    border:2px solid #ff4545;
}

.lb-red{
    border-left: 2px solid #ff4545;
}

.border-blue{
    border: 2px solid #5581FF;
}

.border-lightblue{
    border: 2px solid #D5F9FF;
}

.lb-lightblue{
    border-left: 2px solid #D5F9FF;
}

.border-yellow{
    border: 2px solid #FFFB86;
}

.border-pink{
    border:2px solid #FF529F;
}

.lb-pink{
    border-left:2px solid #FF529F;
}

.lb-yellow{
    border-left:2px solid #FFFB86;
}

.border-purple{
    border: 2px solid #e033ff;
}

/**************************************/
/* General Shared Styles */
html{
    height: 100vh;
}

html {
    margin:0;
}

body{
    margin:0;
    height:100%;
    background-image: url('/assets/images/commonvibes.jpg');
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.adriator{
    font-family: 'Adriator','Bungee Shade', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Bungee";
    color: black;
    padding:15px 10px 10px 10px;
}

h1{
    font-size: 50px;
    font-family: "Flames";
    text-align: center;
    letter-spacing: 1px;
    color:#5581FF;
}

h2{
    font-size:28px;
}
h3{
    font-size: 20px;
}

p{
    padding:10px;
}

a,p,li,ul,input,label,textarea,button{
    font-family: 'Yanone Kaffeesatz', sans-serif;color:black;
    font-size: 20px;
}

.mobile-only{
    display:none !important;
}

.log-line{
    margin:20px;
}

.log-line p{
    text-align: center;
    font-size: 28px;
}

.log-line .bold{
    font-family:'Flames';
    font-size: 45px;
    letter-spacing: 1px;
    margin:5px;
}

.page-container{
    padding:20px;
    margin:0 auto;
    min-height:100%;
    max-width: 800px;
    background-color:rgba(245, 191, 255, 0.85);
}

.page-container.extra-wide{
    max-width: 100%;
    background-color: #F5BFFF;
}

.temp-logo{
    text-decoration: none;
    font-size: 30px;
}

nav a{
    text-decoration: none;;
}

.post{
    display:flex;
    padding:0;
    margin-bottom:50px;
}

.post-info{
    width:100px;
}

.post-content{
    flex:1;
}

.post-date{
    font-weight: bold;
    font-size: 16px;
    padding-top:0;
}

.fb-video{
    width:476px;
    height:476px;
}

.episode-list .fb-video{
    width:350px;
    height:350px;
}

.post-description{
    width:320px;
}

.flexbox{
    display:inline-flex;
}

.flex-grow{
    width:1px;
    flex-grow: 2;
}
/**************************************/
/* Navigation & Footer bars */
nav, footer{
    background-color:#5581FF;
    width:100%;
    display: inline-flex;
}

nav ul{
    height: 100%;
}

nav li{
    display: inline-flex;
}

footer{
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    display: inline-flex;
}

.nav-btn{
    background-color:#D5F9FF;
    padding: 10px;
    border: 2px solid #FF529F;
    margin: 5px 2.5px;
    color: #FF529F;
    text-align: center;
    font-size: 22px;
    min-width:70px;
    max-width:200px;
}

.active-nav:last-of-type{
    background-color:#FFFB86;
}

.nav-btn:hover{
    background-color: #FFFB86;
}

.nav-logo{
    height: 50px;
    padding-right: 20px;
}

/********************************************/
/* Cast Page Specific Styles */
ul.cast{
    display:inline-flex;
    flex-wrap: wrap;
}

.cast-profile {
    height: 370px;
    width:325px;
    object-fit: cover;
    object-position: top;
}

.obj-position-left{
    object-position: left;
}

.cast-block img.dating-icons{
    height:50px;
    left:100px;
    bottom:2px;
    position:absolute; 
}

.cast-block{
    background-color: #FFFFFF;
    margin-left: 15px;
    width: 325px;
    display:block;
    position:relative;
    margin-bottom:30px;
}

.cast-info{
    margin-bottom:40px;
}

.cast-name{
    font-size:26px;
}

.cast-role{
    font-size:18px;
}

p.question{
    font-weight: bold;
    padding-bottom:1px;
}
p.answer{
    padding-top:0;
}

.cast-bar{
    margin:10px;
}

.cast-bar ul{
    display: inline-flex;
}

.center-bar{
    margin:0 auto;
}
/********************************************/
/* Episode Styling */
.inactive-tab{
    display:none;
}

.active-tab{
    display: block;
    margin-bottom:50px;
}

.episode-list{
    display: inline-flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.active-selection{
    background-color:#FFFB86;
}

.inactive-selection{
    background-color: #D5F9FF;
}

.season-bar{
    margin-left:auto;
    margin-right:auto;
}

.season-bar ul{
    display: inline-flex;
}

.comingsoon{
    height:400px;
}

.comingsoon h1{
    margin-top:150px;
}

.episode{
    width: 350px;
    margin-bottom:10px;
    margin-right:35px;
    margin-left: 10px;
}

h4.episode-title{
    font-size:20px;
}

.partial-border-red{
    border-top:2px solid #ff4545;
    border-bottom:2px solid #ff4545;
}

.partial-border-pink{
    border-top:2px solid #FF529F;
    border-bottom:2px solid #FF529F;
}

.partial-border-lightblue{
    border-top:2px solid #D5F9FF;
    border-bottom:2px solid #D5F9FF;
}

.partial-border-blue{
    border-top:2px solid #5581FF;
    border-bottom:2px solid #5581FF;
}

.partial-border-yellow{
    border-top:2px solid #FFFB86;
    border-bottom:2px solid #FFFB86;
}

p.credit{
    font-size:16px;
    padding-top:0;
}

/********************************************/
/* Contact Styling */
.form-question{
    padding:10px 20px;
}
form{
    width:420px;
    margin:auto;
}

textarea,input[type=text],input[type=email]{
    padding:1px;
    border: 1px solid #FF529F;
    width:100%;
}

button{
    width:100px;
    height:50px;
}

button.nav-btn:hover{
    background-color:#D5F9FF;
}

/********************************************/
/* Resources Styling */
.resources li{
    margin-left:30px; 
    list-style-type: circle;
}

.resources a{
    color: #5581FF;
}

.resources a:hover{
    color: #FF529F;
}

blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #FF529F;
    width:80%;
  }

  blockquote p{
    font: 14px/22px 'Yanone Kaffeesatz', sans-serif;
    font-style: italic;
    padding: 0 0 5px 0;
    text-align: center;

  }

  .quote-source{
      text-align: right;
      font-style:normal;
  }

  .resource-bar{
      min-height:50px;
      margin-top:10px;
  }

  .resource-bar ul{
    display:inline-flex;
  }

  #resource-list{
      margin-bottom:50px;
  }

/********************************************/
/* Margin Styles */

.ma-20{
    margin:20px;
}

.ma-0{
    margin:0 0 0 0 !important;
}

.mt-0{
    margin-top: 0px;
}

.mb-0{
    margin-bottom: 0px;
}

.mb-50{
    margin-bottom:50px;
}

.ma-10{
    margin:10px;
}

.mt-10{
    margin-top:10px;
}

/********************************************/
/* Padding Styles */

.pa-20{
    padding:20px;
}

.pa-0{
    padding:0px;
}

.pt-0{
    padding-top: 0px;
}

.pb-0{
    padding-bottom: 0px;
}
