/*
    Colors!
    Blue: #599ED7
    Pink: #FFA8D6
    Purple: #9171EC
    Red: #CD4C51
*/

.blue{
    color: #599ED7;
}

.pink{
    color:#FFA8D6;
}

.purple{
    color: #9171EC;
}

.red{
    color: #cd4c51;
}

.yellow{
    color:#D2D75F
}

.bg-blue{
    background-color: #599ED7;
}

.bg-pink{
    background-color:#FFA8D6;
}

.bg-purple{
    background-color: #9171EC;
}

.bg-red{
    background-color: #cd4c51;
}

.bg-yellow{
    background-color:#D2D75F
}

.border-red{
    border:2px solid #cd4c51;
}

/**************************************/
/* General Shared Styles */
html{
    height: 100vh;
}

html, body{
    background-color: #DFE0E2;
    margin:0;
}

.adriator{
    font-family: 'Adriator','Bungee Shade', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Bungee";
    color: black;
    padding:15px 10px 10px 10px;
}

h1{
    font-size: 40px;
    font-family: "Bungee Shade";
}

h2{
    font-size:28px;
}
h3{
    font-size: 20px;
}

p{
    padding:10px;
}

a,p,li,ul,input,label,textarea{
    font-family: 'Yanone Kaffeesatz', sans-serif;color:black;
    font-size: 20px;
}

/**************************************/
/* Navigation & Footer bars */
nav, footer{
    background-color:#9171EC;
    width:100%;
    display: inline-flex;
}

nav ul{
    height: 100%;
}

nav li{
    display: inline-flex;
}

footer{
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    display: inline-flex;
}

.nav-btn{
    background-color:#DFE0E2;
    padding: 10px;
    border: 2px solid #599ED7;
    margin: 5px 2.5px;
    color: #599ED7;
    text-align: center;
    font-size: 22px;
    min-width:70px;
    max-width:200px;
}

.nav-btn:hover{
    background-color: #FFA8D6;
}

.nav-logo{
    height: 50px;
    padding-right: 20px;
}

.page-container{
    margin:20px auto;
    max-width: 800px;
}

/********************************************/
/* Cast Page Specific Styles */
.cast{
    display:inline-flex;
}

.cast img {
    height: 150px;
    width: 150px;
    margin: 5px;
    border: 1px solid #599ED7;
}

.cast-block{
    background-color: #FFA8D6;
    margin-left: 15px;
    border: 2px solid #599ED7;
    width: 47%;
}

.cast-role{
    color: #599ED7;
}

/********************************************/
/* Episode Styling */
.inactive-tab{
    display:none;
}

.active-tab{
    display: block;
}

.active-selection{
    background-color:#FFA8D6;
}

.inactive-selection{
    background-color: #D2D75F;
}

.season-bar ul{
    display: inline-flex;
}

/********************************************/
/* Padding Styles */

.pa-20{
    padding:20px;
}

.pa-0{
    padding:0px;
}

.pt-0{
    padding-top: 0px;
}

.pb-0{
    padding-bottom: 0px;
}

/********************************************/
/* Contact Styling */
.form-question{
    padding:10px 20px;
    width:400px;
}
form{
    width:420px;
}

textarea{
    padding:1px;
    border-width:0;
}

/********************************************/
/* Margin Styles */

.ma-20{
    margin:20px;
}

.ma-0{
    margin:0px;
}

.mt-0{
    margin-top: 0px;
}

.mb-0{
    margin-bottom: 0px;
}

.ma-10{
    margin:10px;
}

.mt-10{
    margin-top:10px;
}