@media only screen and (max-width: 550px) {
    
    .mobile-only{
        display:block;
    }

    button.mobile-only{
        background-color: transparent;
        border:none;
    }

    .visible{
        display:block !important;
    }

    .page-container{
        padding: 50px 20px 20px 20px;
    }

    nav{
        display:block;
        position: absolute;
        z-index: 100;
    }

    nav button{
        width:45px;
    }

    nav li{
        display: fixed;
        width:100%;
    }

    .logo-wrapper{
        display: inline-flex;
    }

    .menu-list-wrapper{
        display:none;
    }

    .nav-btn{
        min-width:90%;
        max-width:90%;
    }

    .post{
        width:95%;
        display: block;
    }
    .post-info{
        width:100%;
    }

    .post-content{
        width:100%;
    }

    .post-content iframe{
        width:100%;
        height:260px;
    }

    .season-bar ul, .resource-bar ul{
        display:inline-flex;
        flex-wrap: wrap;
    }

    form{
        width:95%;
        margin-bottom: 45px;
    }

    ul.cast{
        display:block;
    }

    .cast-block{
        width:97%;
        margin:5px 0;
    }
    .cast-profile{
        width:100%;
    }

    .cast-block img.dating-icons{
        height:100px;
        width:100%;
        left:0;
    }

    .cast-info{
        margin-bottom: 100px;
    }
    
    .episode{
        width:97%;
        margin: 5px 0;
    }

    .episode iframe{
        width:100%;
    }

    .resource-bar li{
        margin: 25px 0;
    }

    blockquote {
        margin-left:25px;
    }

    blockquote p{
        padding:0 20px 5px 0;

    }
}