@media only screen and (max-width: 550px) {
    
    html, body{
        background-color: #F5BFFF;
    }

    .mobile-only{
        display:block !important;
    }

    .lb-lightblue, .lb-red, .lb-pink, .lb-blue, .lb-yellow, .lb-purple{
        border-left:0;
    }

    .lb-red{
        border-top: 2px solid #ff4545;
    }

    .lb-lightblue{
        border-top: 2px solid #D5F9FF;
    }

    .lb-purple{
        border-top: 2px solid #e033ff;
    }

    .lb-pink{
        border-top:2px solid #FF529F;
    }

    .lb-blue{
        border-top: 2px solid #5581FF;
    }

    .lb-yellow{
        border-top: 2px solid #FFFB86;
    }

    .post-description{
        width:95%;
    }

    button.mobile-only{
        background-color: transparent;
        border:none;
    }

    .visible{
        display:block !important;
    }

    .page-container{
        padding: 50px 20px 20px 20px;
        background-color: #F5BFFF;
    }

    nav{
        display:block;
        position: absolute;
        z-index: 100;
    }

    nav button{
        width:45px;
    }

    nav li{
        display: fixed;
        width:100%;
    }

    .logo-wrapper{
        display: inline-flex;
    }

    .menu-list-wrapper{
        display:none;
    }

    .nav-btn{
        min-width:90%;
        max-width:90%;
    }

    .post{
        width:95%;
        display: block;
    }
    .post-info{
        width:100%;
    }

    .post-content{
        width:100%;
        height:0;
        padding-top:101%;
        position: relative;
    }

    .post-content.img{
        padding-top: 0;
        display: block;
        padding-bottom: 101%;
    }


.post-content img{
    width:100%;
}

    .post-content .fb-video{
        position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
    }

    .post-content iframe{
        width:100%;
        height:258px;
    }

    .season-bar ul, .resource-bar ul, .episode-bar ul{
        display:inline-flex;
        flex-wrap: wrap;
    }

    form{
        width:95%;
        margin-bottom: 45px;
    }

    ul.cast{
        display:block;
    }

    .cast-block{
        width:97%;
        margin:5px 0;
    }
    .cast-profile{
        width:100%;
    }

    .cast-block img.dating-icons{
        height:100px;
        width:100%;
        left:0;
    }

    .cast-info{
        margin-bottom: 100px;
    }
    
    .episode, .promo{
        width:97%;
        margin: 5px 0;
    }

    .episode iframe, .promo iframe{
        width:100%;
    }

    .resource-bar li{
        margin: 25px 0;
    }

    blockquote {
        margin-left:25px;
    }

    blockquote p{
        padding:0 20px 5px 0;

    }
}