<!doctype html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Common Vibes Series - {{ page.title }}</title>
    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}"/>

    <!-- <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon"/> -->
    
    <link href="https://fonts.googleapis.com/css?family=Bungee|Yanone+Kaffeesatz&display=swap" rel="stylesheet"/>

    <link href="../assets/css/reset.css" rel="stylesheet"/>
    <link href="../assets/css/main.css" rel="stylesheet"/>
    <link href="../assets/css/mobile.css" rel="stylesheet"/>
    <link href="../assets/fonts/webfontkit-20200308-013337/stylesheet.css" rel="stylesheet"/>

    <script async defer type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5e7d787f1b93d200194e5e07&product=inline-share-buttons"></script>
  </head>
  <body>    
     {% include navigation.html %}
     <div class="page-container {{ page.page-width }}"> 
       <div class="sharethis-inline-share-buttons mobile-only mt-10"></div>
      
        {{ content }}
      </div>


     {% include footer.html %}
  </body>

  <script type="text/javascript">
  function toggleMenu(){
    var menuList = document.getElementById('menuList');

    menuList.classList.toggle("visible");
}

function init() {
var vidDefer = document.getElementsByTagName('iframe');
for (var i=0; i<vidDefer.length; i++) {
if(vidDefer[i].getAttribute('data-src')) {
vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
} } }
window.onload = init;

  </script>


  {% if page.title == "Episodes" or page.title == "Cast" %}
  
<script type="text/javascript">
  function switchTab(selection,tab){
  // change menu bar selection
  var curSelection = document.getElementsByClassName("active-selection");

  for(var i = 0; i< curSelection.length; i++){
      curSelection[i].classList.add("inactive-selection");
      curSelection[i].classList.remove("active-selection");
  }

  var newSelection = document.getElementById(selection);
  newSelection.classList.add("active-selection");
  newSelection.classList.remove("inactive-selection");
  

  // change displayed section
  var curTab = document.getElementsByClassName("active-tab");

  for(var i = 0; i< curTab.length; i++){
      curTab[i].className = "season inactive-tab";
  }

  document.getElementById(tab).className = "season active-tab";
}
</script>
{% endif %}


</html>
